# Copyright © 2022 Durudex
#
# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree.


# Debug mode.
DEBUG=false

# Config variables:
CONFIG_PATH=configs/main

# Discord bot variables:
BOT_TOKEN=

# Mongodb variables:
MONGO_URI=
MONGO_USERNAME=
MONGO_PASSWORD=
